.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.13333rem;
  font-size: 0.59733rem;
  background: #282828;
  color: #999; }
  .header .header_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header .header_l div {
      padding: 0 0.59733rem;
      text-align: center;
      line-height: 2.13333rem;
      color: #fff; }
      .header .header_l div:first-child {
        border-right: 2px solid #222;
        box-shadow: 2px 0 1px #363636; }
      .header .header_l div i {
        font-weight: 600;
        font-size: 0.55467rem;
        color: #999; }
  .header .header_r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header .header_r div {
      padding: 0 0.59733rem;
      text-align: center;
      line-height: 2.13333rem; }
      .header .header_r div i {
        font-weight: 600;
        font-size: 0.768rem; }
